/*div {
  border: 1px solid red;
}*/
a {
  color: white;
}

.background {
  position: relative;
  height: 100vh;
  background: url('../img/road_flowers.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.cross {
  color: red;
  font-size: 5rem;
  margin: 10px;
}

.brand {
  font-size: 5rem;
  color: white;
  font-family: 'Pacifico', cursive;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.header-links {
  font-size: 3rem;
  color: white;
  font-family: 'Pacifico', cursive;
  margin-right: 20px;
}

.contentBox {
  height: 35vh;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  margin-bottom: 25px;
}


.signupDiv {
  position: relative;
  width: 100%;
  height: auto;
}

.signupButton {
  position: relative;
  width: 50%;
  height: 50px;
  float: left;
  font-family: 'Lora' serif;
  font-style: normal;
  font-size: 1.75rem;
}

.quote {
  font-family: 'Lora' serif;
  font-style: italic;
}
