
* {
  box-sizing: border-box;
}

a {
  color: white;
}

body {
  background: url('../img/road_flowers.jpeg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.background {
  position: relative;
  height: auto;
}

.cross {
  color: red;
  font-size: 5rem;
  margin: 10px;
}

.brand {
  font-size: 5rem;
  color: white;
  font-family: 'Pacifico', cursive;
}

.header {
  background-color: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
}

.header-links {
  font-size: 3rem;
  color: white;
  font-family: 'Pacifico', cursive;
  margin-right: 20px;
}

.contentBox {
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 20px;
  margin-bottom: 25px;
  padding: 10px;
}


.signupDiv {
  position: relative;
  width: 100%;
  height: auto;
}

.signupButton {
  margin-top: 5px;
  position: relative;
  width: 50%;
  height: 50px;
  float: left;
  font-family: 'Lora', serif;
  font-style: normal;
  font-size: 1.75rem;
}

.signupFormButton {
  margin-top: 5px;
  position: relative;
  width: 50%;
  height: 50px;
  float: center;
  font-family: 'Lora', serif;
  font-style: normal;
  font-size: 1.75rem;
}

.quote {
  font-family: 'Lora', serif;
  font-style: italic;
}

.profile {
  margin-bottom: 30px;
}

.picture-div {
  position: relative;
  width: 100%;
  height: 100%;
}

.profile-picture {
  background-position: center;
  max-width: 100%;
  max-height: 100%;
}

.heart {
  color: red;
  float: right;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 3rem;
}

.message {
  color: black;
  float: right;
  position: absolute;
  bottom: 0px;
  right: 5px;
  font-size: 5rem;
}

.spec-cert-info {
  float: left;
  position: absolute;
  left: 0px;
  bottom: 0px;
  background: rgba(0, 0, 0, .75);
  width: 100%;
  color: white;
  font-family: 'Lora', serif;
  font-style: normal;
  padding: 5px;
}

.user-info {
  position: relative;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-family: 'Lora', serif;
  font-style: normal;
  padding: 5px;
}

.nurse-name {
  font-size: 2rem;
  font-style: oblique;
  text-decoration: underline;
}
